[Desktop Entry]
Version=1.0
Type=Application
Name=Scrann
GenericName=Image Editor
Comment=Create screenshots and annotate them
Keywords=graphic;screnshot;edit;annotate;
Exec=/app/bin/scrann %f
TryExec=/app/bin/scrann
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
StartupNotify=true
MimeType=image/png;
